<div id="contact-form-root">
    <form [formGroup]="contactForm">
        <div class="flex column">

            <input formControlName="contactname" type="text" name="name" placeholder="Contact Name" />
            <div class="error-container">
                <div class="error-msg"
                    *ngIf="contactForm.get('contactname').touched && contactForm.get('contactname').errors && contactForm.get('contactname').errors['required']">
                    Contact
                    name cannot be empty</div>
                <div class="error-msg"
                    *ngIf="contactForm.get('contactname').errors && contactForm.get('contactname').errors['maxlength']">
                    Max
                    length is 10</div>
                <div class="error-msg"
                    *ngIf="contactForm.get('contactname').errors && contactForm.get('contactname').errors['minlength']">
                    Min
                    length is 2</div>
            </div>

            <!--phone number list-->
            <div class="flex column">
                <span class="header-text">Phone</span>
                <div *ngFor="let phone of contactForm.get('phone').controls; let i=index" [formGroup]="phone">

                    <div>
                        <input type="text" placeholder="Phone number" formControlName="phonenumber" />
                        <button (click)="removePhone(i)" class="btn btn-remove"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="error-container">
                        <div class="error-msg"
                            *ngIf="phone.get('phonenumber').errors && phone.get('phonenumber').errors['required']">
                            Required</div>
                        <div class="error-msg"
                            *ngIf="phone.get('phonenumber').errors && phone.get('phonenumber').errors['minlength']">Min
                            of 10 digits</div>
                        <div class="error-msg"
                            *ngIf="phone.get('phonenumber').errors && phone.get('phonenumber').errors['maxlength']">Max
                            of 10 digits</div>
                        <div class="error-msg"
                            *ngIf="phone.get('phonenumber').errors && phone.get('phonenumber').errors['pattern']">Only
                            numbers</div>
                    </div>
                </div>
                <button (click)="addPhone()" class="btn btn-add"><i class="fa fa-plus"></i></button>
            </div>
            <div class="divider"></div>

            <!--email list-->
            <div class="flex column">
                <span class="header-text">Email</span>
                <div *ngFor="let email of contactForm.get('email').controls; let i=index" [formGroup]="email">
                    <div>
                        <input type="email" placeholder="Email" formControlName="emailaddress" />
                        <button (click)="removeEmail(i)" class="btn btn-remove"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="error-container">
                        <div class="error-msg"
                            *ngIf="email.get('emailaddress').errors && email.get('emailaddress').errors['required']">
                            Required</div>
                        <div class="error-msg"
                            *ngIf="email.get('emailaddress').errors && email.get('emailaddress').errors['minlength']">
                            Min Length is 10</div>
                        <div class="error-msg"
                            *ngIf="email.get('emailaddress').errors && email.get('emailaddress').errors['maxlength']">
                            Max Length is 255</div>
                    </div>
                </div>
                <button (click)="addEmail()" class="btn btn-add"><i class="fa fa-plus"></i></button>
            </div>
            <div class="divider"></div>

            <!--telephone list-->
            <div class="flex column">
                <span class="header-text">Telephone</span>
                <div *ngFor="let telephone of contactForm.get('telephone').controls; let i=index"
                    [formGroup]="telephone">
                    <div>
                        <input type="number" formControlName="telephonenumber" placeholder="Telephone" />
                        <button (click)="removeTelephone(i)" class="btn btn-remove"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="error-container">
                        <div class="error-msg"
                            *ngIf="telephone.get('telephonenumber').errors && telephone.get('telephonenumber').errors['required']">
                            Required</div>
                        <div class="error-msg"
                            *ngIf="telephone.get('telephonenumber').errors && telephone.get('telephonenumber').errors['minlength']">
                            Min Length is 11</div>
                        <div class="error-msg"
                            *ngIf="telephone.get('telephonenumber').errors && telephone.get('telephonenumber').errors['maxlength']">
                            Max Length is 11</div>
                    </div>
                </div>
                <button (click)="addTelephone()" class="btn btn-add"><i class="fa fa-plus"></i></button>
            </div>
            <div class="divider"></div>

            <button (click)="addNewContact()" class="btn">Add Contact</button>
        </div>
    </form>

</div>