<div id="table-root">

    <table>

        <thead>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Telephone</td>
        </thead>

        <tr *ngFor="let person of contacts;">
            <td>
                <p>{{person.contactname}}</p>
            </td>
            <td>
                <p *ngFor="let phone of person.phone;">{{phone.phonenumber}}</p>
            </td>
            <td>
                <p *ngFor="let email of person.email;">{{email.emailaddress}}</p>
            </td>
            <td>
                <p *ngFor="let telephone of person.telephone;">{{telephone.telephonenumber}}</p>
            </td>
        </tr>
    </table>
</div>